/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text-headings: rgb(17, 17, 17);
	--color-background-buttons-black: rgb(17, 17, 17);
	--color-text: rgb(72, 72, 72);
	--color-text-on-colored-background: rgb(17, 17, 17);
	--color-text-on-dark-background: rgb(255, 255, 255);
	--color-buttons-blue: rgb(0, 88, 163);
	--color-text-blue: rgb(0, 124, 193);
	--color-background-gray: rgb(245, 245, 245);
	--color-background: rgb(255, 255, 255);
	--color-border-gray: rgb(223, 223, 223);

	--ikea-font: 'Noto Sans', 'Roboto', 'Open Sans';
	--font-size-main-text: 0.875rem;
	--font-weight-headings: 700;
	--font-size-price: 1.75rem;
}


/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
	padding: 0;
	border: 0;
	color: var(--color-text);
	font-family: var(--ikea-font);
	font-size: var(--font-size-main-text);
}


/****************/
/* HEADER */
/****************/
header {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}

/* logo */
header a:first-of-type {
	grid-area: 1 / 1 / 2 / 2;
}

/* iconen rechts bovenin */
header ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

nav {
	grid-area: 1 / 4 / 2 / 5;
}

nav img {
	padding-left: 1em;
	max-width: 40px;
}

/* zoekbalk */
header form {
	grid-area: 2 / 1 / 2 / 5;
}

header input {
	width: 100%;
	height: 50px;
	padding: 1em;
	border-radius: 2em;
	border-style: none;
	background-color: var(--color-background-gray);
}

/****************/
/* MAIN */
/****************/

/* knoppen postcode en winkel locatie */
.actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	height: 56px;
	margin: 16px
}

main button {
	background-color: var(--color-background);
	border-style: solid;
	border-color: var(--color-border-gray);
	border-width: 0.1em;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: left;
}

main button:nth-of-type(2) {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* hej! welkom terug */
.inleiding {
	padding-left: 20px;
	padding-right: 20px;
}

.inleiding h2 {
	font-size: 24px;
	font-weight: 700;
	margin-top: 2em;
	color: var(--color-text-headings);
	font-weight: var(--font-weight-headings);
}

.inleiding a {
	color: var(--color-text-blue);
	text-decoration-line: underline;
}

/* Onlangs bekeken producten */
.onlangsBekeken h2 {
	padding-left: 20px;
	padding-right: 20px;
	color: var(--color-text-headings);
}

.onlangsBekeken ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	padding: 16px;
}

.onlangsBekeken li {
	margin-right: 10px;
}

.onlangsBekeken li img {
	object-fit: cover;
	width: 160px;
	height: auto;
}

.onlangsBekeken a {
	text-decoration: none;
	color: var(--color-text);
}

/* Slaapkamer stukje */
.slaapkamerTekst {
	margin: 1.25em;
}

.slaapkamerTekst h2 {
	color: var(--color-text-headings);
}

.slaapkamerTekst ul {
	padding: 0;
	list-style: none;
}

.slaapkamerTekst img {
	max-width: 100%;
}

/* Nu bij ikea */
.nuBijIkea {
	margin: 1.25em;
}

.nuBijIkea h2 {
	color: var(--color-text-headings);
}

.nuBijIkea h3 {
	color: var(--color-text-on-colored-background);
}

.nuBijIkea p {
	color: var(--color-text-on-colored-background);
}

.nuBijIkea ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	column-gap: 0.625rem;
	padding: 0;
}

.nuBijIkea li:first-of-type {
	background-color: #ac98f8;
}

.nuBijIkea li {
	background-color: #c4e7ed;
	min-width: 20em;
	min-height: 21.5em;
}

.nuBijIkea li:last-of-type {
	background-color: rgb(204, 0, 0);
}

.nuBijIkea li:last-of-type h3 {
	color: var(--color-text-on-dark-background);
}

.nuBijIkea li:last-of-type p {
	color: var(--color-text-on-dark-background);
}

.nuBijIkea p {
	padding: 2em;
	padding-top: 0;
}

.nuBijIkea h3 {
	padding: 2em;
	padding-bottom: 0;
	padding-top: 0;
}

.nuBijIkea img {
	max-width: 100%;
	height: auto;
}

.nuBijIkea img:last-child {
	width: 4em;
	border-style: solid;
	border-width: 1em;
	border-color: black;
	border-radius: 3em;
	margin: 2em;
}

.nuBijIkea a {
	text-decoration: none;
}

/* ruimtes */
.ruimtes {
	margin: 1.25em;
}

.ruimtes h2 {
	color: var(--color-text-headings);
}

.ruimtes ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	padding: 0;
	column-gap: .625em;
}

.ruimtes li {
	list-style: none;
	position: relative;
}

.ruimtes li img {
	min-width: 14.4em;
	width: 100%;
	height: auto;
}

.ruimtes h3 {
	color: var(--color-text-headings);
	position: absolute;
	bottom: 0;
	right: 1em;
	left: 1em;
	background-color: var(--color-background);
	padding: .5em;
	border-radius: 1em;
	text-align: center;
}

/* ikea kreativ */
.ikeaKreativ {
	color: var(--color-text-on-colored-background);
	background-color: rgb(179, 138, 141);
	margin: 1.25em;
	padding-bottom: 2em;
}

.ikeaKreativ article {
	display: grid;
	grid-template-rows: repeat(4, min-content);
	margin: 2em;
}

.ikeaKreativ p {
	margin-top: 0;
}

.ikeaKreativ a {
	text-decoration: none;
	padding: 1em;
	background-color: var(--color-background-buttons-black);
	color: var(--color-text-on-dark-background);
	border-radius: 3em;
	width: fit-content;
}

.ikeaKreativ img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* Onze producten bij jullie thuis (insta posts) */
.instaPosts {
	padding-left: 20px;
	padding-right: 20px;
}

.instaPosts h2 {
	color: var(--color-text-headings);
}

.instaPosts ul {
	display: flex;
	overflow-x: scroll;
	flex-wrap: nowrap;
	padding: 0;
}

.instaPosts li {
	list-style: none;
	margin-right: .625rem;
}

.instaPosts li img {
	height: 325px;
	width: auto;
}

/* informatie over bezorgen etc. */
.bezorgInfo {
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.bezorgInfo ul {
	list-style: none;
	padding-left: 0;
}

.bezorgInfo li {
	background-color: var(--color-background-gray);
	margin-bottom: .3em;
	padding: 1em;
	display: grid;
	grid-column: 1fr;
	grid-row: 3fr;
}

.bezorgInfo h3 {
	color: var(--color-text-headings);
}

.bezorgInfo a {
	color: var(--color-text);
}

/* veiligheidswaarschuwing */
.waarschuwing {
	display: grid;
	grid-template-rows: 4fr;
	background-color: var(--color-background-buttons-black);
	color: var(--color-text-on-dark-background);
	padding: 40px;
	padding-right: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.waarschuwing li a {
	color: var(--color-text-on-dark-background);
	text-decoration-line: underline;
}

.meerInfoKnop {
	color: rgb(17, 17, 17);
	background-color: var(--color-background);
	border-radius: 2em;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	max-width: 60%;
}

/* meer ideeen en inspiratie */
.inspiratie h2 {
	color: var(--color-text-headings);
	font-size: 24px;
	font-weight: 700;
	padding-left: 20px;
}

.inspiratie ul:first-of-type {
	display: flex;
	overflow-x: scroll;
	padding: 20px;
}

.inspiratie li {
	list-style: none;
	margin-right: 12px;
}

.inspiratie ul:last-of-type {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0.75em;
	grid-row-gap: 0.75em;
}

.inspiratie img {
	width: 10.1em;
}

/****************/
/* FOOTER */
/****************/

footer {
	background-color: var(--color-background-gray);
	padding: 20px;
}

/* word IKEA family lid */
footer section:first-of-type h3 {
	color: var(--color-text-headings);
}

footer section:first-of-type a {
	display: flex;
	align-items: flex-start;
	color: var(--color-text);
}

footer section:first-of-type a:last-of-type {
	text-decoration: none;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 2.5em;
	background-color: var(--color-background-buttons-black);
	color: var(--color-text-on-dark-background);
	border-radius: 3em;
	width: fit-content;
}

/* dropdown */

footer section:nth-of-type(2) ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 4;
}

footer section:nth-of-type(2) li {
	border-style: solid;
	border-color: var(--color-border-gray);
	border-left: 0;
	border-right: 0;

}

footer section:nth-of-type(2) button {
	background-color: var(--color-background-gray);
	font-size: .875em;
	padding: 2em;
	padding-left: 0;
	border-width: 0;
}

/* icoontjes */

footer section:nth-of-type(3) ul {
	list-style: none;
	display: flex;
	padding: 0;
}

footer section:nth-of-type(3) li {
	margin-right: 1.2em;
}

footer section:nth-of-type(3) img {
	width: 1.5em;
}

/*********************/
/* vanaf 600px */
/*********************/
@media (min-width: 600px) {

	/* Slaapkamer stukje */
	.slaapkamerTekst {
		margin: 2em;
	}

	.slaapkamerTekst ul {
		display: flex;
	}

	.slaapkamerTekst img {
		height: 100%;
	}

}