/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	padding: 0;
	border: 0;
}


/****************/
/* HEADER */
/****************/
header {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}

/* logo */
header a:first-of-type {
	grid-area: 1 / 1 / 2 / 2;
}

/* iconen rechts bovenin */
header ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

nav {
	grid-area: 1 / 4 / 2 / 5;
}

nav img {
	padding-left: 1em;
	max-width: 40px;
}

/* zoekbalk */
header form {
	grid-area: 2 / 1 / 2 / 5;
}

header input {
	width: 100%;
	height: 50px;
	padding: 1em;
	border-radius: 2em;
	border-style: none;
	background-color: lightgray;
}

/****************/
/* MAIN */
/****************/

/* knoppen postcode en winkel locatie */
.actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	height: 56px;
	margin: 16px
}

button {
	background-color: white;
	border-style: solid;
	border-width: 0.1em;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: left;
}

button:nth-of-type(2) {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* hej! welkom terug */
main section:nth-of-type(1) {
	padding-left: 20px;
	padding-right: 20px;
}

main section:nth-of-type(1) h2 {
	color: rgb(17, 17, 17);
	font-size: 24px;
	font-weight: 700;
	margin-top: 2em;
}

main section:nth-of-type(1) a {
	color: rgb(0, 124, 193);
	text-decoration-line: underline;
}

/* Onlangs bekeken producten */

main section:nth-of-type(2) h2 {
	padding-left: 20px;
	padding-right: 20px;
}

main section:nth-of-type(2) ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	padding: 16px;
}

main section:nth-of-type(2) li {
	margin-right: 10px;
}



main section:nth-of-type(2) li img {
	object-fit: cover;
	width: 160px;
	height: auto;
}

main section:nth-of-type(2) a {
	text-decoration: none;
	color: black;
}

/* Slaapkamer stukje */
main section:nth-of-type(3) {
	display: grid;
	grid-row-start: 1;
	grid-row-end: -1;
	padding-left: 20px;
	padding-right: 20px;
}

main section:nth-of-type(3) img {
	max-width: 100%;
}

/* Nu bij ikea */
main section:nth-of-type(4) {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr;
}

main section:nth-of-type(4) h2 {
	color: rgb(17, 17, 17);
	font-size: 24px;
	font-weight: 700;
	padding-left: 20px;
}

main section:nth-of-type(4) h3 {
	color: black;
}

main section:nth-of-type(4) p {
	color: black;
}

main section:nth-of-type(4) ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	padding: 16px;
	column-gap: 0.625rem;
}

main section:nth-of-type(4) li:first-of-type {
	background-color: #ac98f8;
}

main section:nth-of-type(4) li {
	background-color: #c4e7ed;
	min-width: 315px;
	min-height: 344px;
	height: 100%;
	width: 100%;
}

main section:nth-of-type(4) li:last-of-type {
	background-color: rgb(204, 0, 0);
}

main section:nth-of-type(4) li:last-of-type h3 {
	color: white;
}

main section:nth-of-type(4) li:last-of-type p {
	color: white;
}

main section:nth-of-type(4) p {
	padding: 2em;
	padding-top: 0;
}

main section:nth-of-type(4) h3 {
	padding: 2em;
	padding-bottom: 0;
	padding-top: 0;
}

main section:nth-of-type(4) img {
	max-width: 100%;
	height: auto;
}

main section:nth-of-type(4) img:last-child {
	width: 4em;
	border-style: solid;
	border-width: 1em;
	border-color: black;
	border-radius: 3em;
	margin: 32px;
}

main section:nth-of-type(4) a {
	text-decoration: none;
}

/* ruimtes */
main section:nth-of-type(5) {
	padding-left: 20px;
	padding-right: 20px;
}

main section:nth-of-type(5) ul {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	padding: 0;
}

main section:nth-of-type(5) li {
	list-style: none;
	margin-right: .625rem;
	position: relative;
}

main section:nth-of-type(5) li img {
	min-width: 231px;
	width: 100%;
	height: auto;
}

main section:nth-of-type(5) h3 {
	color: black;
	position: absolute;
	bottom: 0;
	right: 1em;
	left: 1em;
	background-color: white;
	padding: .5em;
	border-radius: 1em;
	text-align: center;
}


/* ikea kreativ */
main section:nth-of-type(6) {
	background-color: rgb(179, 138, 141);
	padding: 0;
	margin: 20px;
	padding-bottom: 6em;
	position: relative;
}

main section:nth-of-type(6) p {
	padding-left: 1em;
	padding-right: 1em;
}

main section:nth-of-type(6) h2 {
	padding-left: 1em;
	padding-right: 1em;
}

main section:nth-of-type(6) a {
	text-decoration: none;
	padding: 1em;
	background-color: black;
	color: white;
	border-radius: 3em;
	position: absolute;
	left: 20px;
	bottom: 1em;
}

main section:nth-of-type(6) img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* Onze producten bij jullie thuis (insta posts) */

main section:nth-of-type(7) {
	padding-left: 20px;
	padding-right: 20px;
}

main section:nth-of-type(7) ul {
	display: flex;
	overflow-x: scroll;
	flex-wrap: nowrap;
	padding: 0;
}

main section:nth-of-type(7) li {
	list-style: none;
	margin-right: .625rem;
}

main section:nth-of-type(7) li img {
	height: 325px;
	width: auto;
}

/* informatie over bezorgen etc. */

main section:nth-of-type(8) {
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

main section:nth-of-type(8) ul {
	list-style: none;
	padding-left: 0;
}

main section:nth-of-type(8) li {
	background-color: rgb(245, 245, 245);
	margin-bottom: .3em;
	padding: 1em;
	display: grid;
	grid-column: 1fr;
	grid-row: 3fr;
}

/* veiligheidswaarschuwing */
main section:nth-of-type(9) {
	display: grid;
	grid-template-rows: 4fr;
	background-color: black;
	color: white;
	padding: 40px;
	padding-right: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

main section:nth-of-type(9) li a {
	color: white;
	text-decoration-line: underline;
}

.meerInfoKnop {
	color: black;
	background-color: white;
	border-radius: 2em;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	max-width: 60%;
}

/* meer ideeen en inspiratie */

main section:nth-of-type(10) h2 {
	font-size: 24px;
	font-weight: 700;
	padding-left: 20px;
}

main section:nth-of-type(10) ul:first-of-type {
	display: flex;
	overflow-x: scroll;
	padding: 20px;
}

main section:nth-of-type(10) li {
	list-style: none;
	margin-right: 12px;
}